@page
@model ArtTattooProject.Pages.ArtistPage.DesignManage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit TattoosDesign</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TattoosDesign.TattoosDesignId" />

                <div class="form-group">
                    <label asp-for="TattoosDesign.TattoosDesignName" class="control-label">TattoosDesign Name</label>
                    <input asp-for="TattoosDesign.TattoosDesignName" class="form-control" />
                    <span asp-validation-for="TattoosDesign.TattoosDesignName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TattoosDesign.StyleId" class="control-label">Style</label>
                    <select asp-for="TattoosDesign.StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
                    <span asp-validation-for="TattoosDesign.StyleId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TattoosDesign.ImgUri" class="control-label">Image URI</label>
                    <input asp-for="TattoosDesign.ImgUri" class="form-control" />
                    <span asp-validation-for="TattoosDesign.ImgUri" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TattoosDesign.Description" class="control-label">Description</label>
                    <input asp-for="TattoosDesign.Description" class="form-control" />
                    <span asp-validation-for="TattoosDesign.Description" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index" class="btn btn-secondary mt-2">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
