@page
@model ArtTattooProject.Pages.ArtistPage.CertificateManage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="mt-4">Artist's Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CertificateArtist.CertificateId" class="control-label">Certificate</label>
                <select asp-for="CertificateArtist.CertificateId" class="form-control" asp-items="ViewBag.CertificateName"></select>
            </div>
            <div class="form-group">
                <label asp-for="CertificateArtist.Urllink" class="control-label">Certificate Link</label>
                <input asp-for="CertificateArtist.Urllink" class="form-control" />
                <span asp-validation-for="CertificateArtist.Urllink" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
            <div class="text-danger">@Model.Msg</div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-secondary mt-2">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
