@page
@model ArtTattooProject.Pages.ArtistPage.CertificateManage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mt-4">Edit</h1>

<h4>Artist's Certificate</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CertificateArtist.CertificateId" />
            <input type="hidden" asp-for="CertificateArtist.ArtistId" />
            <div class="form-group">
                <label asp-for="CertificateArtist.Urllink" class="control-label">Certificate Link</label>
                <input asp-for="CertificateArtist.Urllink" class="form-control" />
                <span asp-validation-for="CertificateArtist.Urllink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary mt-2">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
