@page
@model ArtTattooProject.Pages.AdminPage.StudioManage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Studio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Studio.StudioId" />
            <div class="form-group">
                <label asp-for="Studio.Name" class="control-label"></label>
                <input asp-for="Studio.Name" class="form-control" />
                <span asp-validation-for="Studio.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.Address" class="control-label"></label>
                <input asp-for="Studio.Address" class="form-control" />
                <span asp-validation-for="Studio.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.Phone" class="control-label"></label>
                <input asp-for="Studio.Phone" class="form-control" />
                <span asp-validation-for="Studio.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studio.Website" class="control-label"></label>
                <input asp-for="Studio.Website" class="form-control" />
                <span asp-validation-for="Studio.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div> @Model.Msg</div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
