@page
@model SignUpModel
@{
}

<div class="row vh-80">
    <div style="position: relative;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid position-absolute top-0 end-0"            
             alt="Sample image">
    </div>
    <div class="col-md-4">   
        <h4>Sign up</h4>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" />
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.Password" class="control-label"></label>
                <input type="password" asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="control-label"></label>
                <input type="password" asp-for="confirmPassword" class="form-control" />
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TattooLover.Email" class="control-label"></label>
                <input asp-for="TattooLover.Email" class="form-control" />
                <span asp-validation-for="TattooLover.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TattooLover.PhoneNumber" class="control-label"></label>
                <input asp-for="TattooLover.PhoneNumber" class="form-control" />
                <span asp-validation-for="TattooLover.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TattooLover.Age" class="control-label"></label>
                <input asp-for="TattooLover.Age" class="form-control" />
                <span asp-validation-for="TattooLover.Age" class="text-danger"></span>
            </div>
            <div class="form-group classmall fw-bold mt-2 pt-1 mb-0">
                <input type="submit" value="Sign up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="text-danger">@Model.Msg</div>
<div class="small fw-bold mt-2 pt-1 mb-0">Back to <a asp-page="LoginPage">Login</a></div>