@page
@model ArtTattooProject.Pages.StaffPage.IndexModel
@{
    ViewData["Title"] = "Staff page";
}
<a asp-page="./AppointmentManage/Index">Manage studio's Appointment</a>
<a asp-page="./ArtistManage/Index">Manage studio's Artist</a>
